
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        #mainDiv {
            border: solid medium green;
            font-size: 18pt
        }
    </style>
</head>
<body>
    <div id="mainDiv">
        @RenderBody()
    </div>
</body>
</html>
