
@{
    Layout = "_DefaultLayout";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>History</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        We are entering our 9th year as a fantasy league. Here are the 8 previous champions during that time

        2011-Andrew Norris
        2012-Andrew Nealon
        2013-Mac Brando
        2014-Andrew Nealon
        2015-Maren Queener
        2016-Dain Mickey
        2017-Andrew Norris
        2018-Andrew Norris
    </div>
</body>
</html>

