@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Important</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        Our Championship game this year is
        December 4th 2019. To Learn more about our league, 
        Click<a class="nav-link" href="https://fantasy.espn.com/football/league?leagueId=941432"> here</a> 
        to view the standings

    </div>
</body>
</html>
