@{
    Layout = "_DefaultLayout";
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        Welcome to the Inner-State League Fantasy Website
        <a asp-action="History">Our History</a>
        <a asp-action="Contact">Contact Us</a>
        <a asp-action="Info">Our Info</a>
        <a asp-controller="Lab6" asp-action="Index">Lab6 Controller Methods</a>

    </div>
</body>
</html>