@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Info</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="center-block">
        Welcome to the Inner-State League Fantasy Website Info
        <a asp-action="Important">Important Dates</a>
        <a asp-action="People">The current members of our league</a>
    </div>
</body>
</html>
