@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>People</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        Our current members</div>
    <div class=" text-center">
        <ul>
            <li> Aaron McCarty</li>
            <li>Andrew Norris</li>
            <li>Andrew Nealon</li>
            <li>Dain Mickey</li>
            <li>Julie Mickey</li>
            <li>Chris Carlson</li>
            <li>Nathan Insko</li>
            <li>Mac Joiner</li>
            <li>Mike Queener</li>
            <li>1Maren Queener</li>
        </ul>
        <p>Our Founder is @ViewData["Founder"]</p>
    </div>
</body>
</html>
